.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dottedrgba(255,255,255,1);
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 440px;
  background-color:rgba(255,255,255,1);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -220px;
  padding: 1rem;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -20px;
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent rgba(255,255,255,1) transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


.progress-modal {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;

    .modal {
        margin: 2rem auto;
        border-radius: 0.5rem;
        z-index: 100;
        background-color: white;
        max-width: 540px;
        padding: 2rem;

        p {
            @include flex(flex-start, center);
            font-size: 1.1rem;
            font-family: $bold-main-font;

            img {
                height: 60px;
            }
        }

        button {
            border-radius: 0.5rem;
        }
    }

}

.progress-modal.open {
    display: block;
}
