$brand-color:#ca005d;
$brand-color-on-hover:  #8c0041;
$secondary-color: #00acd2;
$secondary-color-hover: #017d9a;

$main-font: 'Gotham', Arial, sans-serif;
$bold-main-font: 'GothamBold', Arial, sans-serif;
$extra-bold-main-font: 'GothamBold', Arial, sans-serif;

$shadow: 0 1px 3px rgba(0,0,0, 0.12), 1px 0 3px rgba(0,0,0, 0.12);

$tablet-width: 860px;
$mobile-width: 540px;